
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  align-items: center;
  padding: 10px 20px;
}

.navbar .nav-left img {
  width: 60px;
  height: 50px;
  display: flex;
}

.navbar .nav-right ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar .nav-right ul li {
  list-style: none;
}

